@forward '/src/scss/base/index';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #04142fb7;
    backdrop-filter: blur(9px);
}

.nav_container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1ex;
}

.a_nav_logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    color: #333;

    a {
        text-decoration: none;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
        display: inline-block;
        width: 176px;
    }
}

.nav_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dde6ed;    

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    li {
        cursor: pointer;
        margin-left: 2ex;
        margin-right: 2ex;
        text-transform: uppercase;
        font-family: var(--main-font-family-open-oswald);
        font-weight: 540;
        line-height: 1.625;

        a {
            text-decoration: none;
        }
    }
}