@forward "/src/scss/base";
@forward "/src/scss/components";
@forward "/src/scss/components/design-services/main-hero-services/";
@use "/src/scss/styles/" as *;
@use "/src/scss/utils/" as *;

.web_design_container {
  @include container-style;
}

.web_design_wrapper {
  @include wrapper-style;
}

.web_desgin_img {
  background: #fff;
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    width: auto;
    height: 402px;
    object-fit: contain;
    display: block;
  }
}

.web_design_background_desc {
  @include background-section-style;
  background-image: var(--services-description-background-image);
  background-attachment: fixed;
  padding: 3rem 0;
  overflow: hidden;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #eff1f5d3;
    z-index: 0;
  }
}

.web_design_description_content {
  position: relative;
  z-index: 2;
  margin-top: 2.8rem;
  margin-bottom: 1.2rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  gap: 5.8ex;
  width: 100%;
  font-family: var(--main-font-family-open-montserrat);
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2.1ex;
    font-weight: 740;
  }

  p {
    font-size: 1.9ex;
    font-weight: 560;
    text-align: start;
    line-height: 1.5;
  }

  li {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.233);
    border: solid 4px #343636ab;
    background: #ffffff8e;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    margin: 0;
    padding: 2.8ex;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;
    margin: 0;
  }
}

.links_section {
  background: var(--main-dark-blue-color);
  display: flex;
  justify-content: center;
  padding: 8ex 3ex 8ex 3ex;
  .links_section_row {
    display: flex;
    align-items: center;
    gap: 3.5ex;
    @include mobile {
      flex-direction: column;
    }

    .price_button {
      @include button-style(#0a7995, #fff, 2.5ex, 600, 250px, #0a4a5a, #fff);
    }
    .contact_button {
      @include button-style(
        #ee8738,
        #2e2c2c,
        1.4rem,
        548,
        250px,
        #83481b,
        #fff
      );
    }

    .services_links {
      color: #fff;
      ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
      li {
        cursor: pointer;
      }
    }
  }
}
