@mixin index-container-style {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

@mixin index-content-style {
    width: 100%;
    max-width: 1400px;
    padding: 0 15px;
}

@mixin index-max-width {
    max-width: 1200px;
}

@mixin info_grid($v1, $v2) {
    display: grid;
    grid-template-columns: repeat($v1, $v2);
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

@mixin header-services {
    padding-top: 12ex;
    text-align: center;

    h2 {
        font-size: 2.65em;
        text-transform: uppercase;
        font-weight: 700;
    }
}

@mixin button-style($b-color, $text-color, $font-size, $font-weight, $width, $b-hover, $h-color) {
    button {
        background: $b-color;
        color: $text-color;
        border: none;
        padding: 12px 28px;
        border-radius: 6px;
        font-size: $font-size;
        width: $width;
        cursor: pointer;
        font-weight: $font-weight;
        transition: 0.4s all ease;

        &:hover {
            color: $h-color;
            background: $b-hover;
        }
    }
}

@mixin header-button-style($b-color, $text-color, $font-size, $font-weight, $b-hover, $h-color) {
    button {
        background: transparent;
        color: $text-color;
        border: solid 1px $b-color;
        padding: 9px 28px;
        border-radius: 6px;
        font-size: $font-size;
        width: 100%;
        cursor: pointer;
        font-weight: $font-weight;
        transition: 0.3s all ease-in-out;
        text-transform: uppercase;

        &:hover {
            border: solid 1px transparent;
            color: $h-color;
            background: $b-hover;
        }
    }
}