@forward '/src/scss/base/main-root-values';
@use '/src/scss/styles/' as *;
@forward '/src/scss/mobile/layout/footer-mobile/';
@use '/src/scss/utils/' as *;

.footer_background {
    background-color: rgb(28, 28, 28);
}

.footer_container {
    width: 100%;
    margin: 0 auto;
    padding-top: 8ex;
    padding-bottom: 8ex;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: var(--main-font-family-open-roboto);
    color: #fff;
}

.footer_wrapper {
    margin: 0;
    padding: 2ex;
}

.footer_content_grid {
    max-width: 1560px;
    display: flex;
    gap: 4.5rem;
    width: 100%;
    margin: 0;
    justify-items: center;
    align-items: start;
    padding: 2ex;
    @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        width: 100%;
    }
}

.footer_icon {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0;

    img {
        width: auto;
        height: 150px;
        object-fit: contain;
    }
}

.services_text,
.what_we_do_text,
.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    @include tablet {
        width: 100%;
    }

    h2 {
        margin: 0 0 8px;
        font-size: 1.4em;
        text-transform: uppercase;
        // @include tablet-xl {
        //     font-size: 1.2em;
        // }
        // @include tablet-md {
        //     font-size: 1em;
        // }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.7ex;
        font-weight: 510;
        // @include tablet-xl {
        //     font-size: 1.3ex;
        // }
        // @include tablet-md {
        //     font-size: 1.1ex;
        // }
    }
    
    p {
        margin: 0;
        font-size: 1.7ex;
        font-weight: 520;
        // @include tablet-xl {
        //     font-size: 1.3ex;
        // }
        // @include tablet-md {
        //     font-size: 1.1ex;
        // }
    }
}

.services_text {
    @include tablet {
        display: none;
    }
    @include tablet-xl {
        display: none;
    }
}

.what_we_do_text {
    max-width: 290px;
    @include tablet {
        display: none;
    }
    @include tablet-xl {
        display: none;
    }
}

.contact_button {
    margin-top: 12px;

    span {
        margin-left: 5px;
    }

    @include button-style(#25D366, #181717, .9rem, 600, none, #147538, #fff);
    // @include tablet-xl {
    //     @include button-style(#25D366, #181717, .76rem, 600, 200px, #147538, #fff);
    // }
    // @include tablet-md {
    //     @include button-style(#25D366, #181717, .6rem, 600, 140px, #147538, #fff);
    // }
}

.footer_background_dark {
    background-color: #0f0f0f;
    color: #fff;
}

.copyright {
    text-align: center;
    padding: 1.5ex;

    p {
        font-size: 1.4ex;
        margin: 0;
        font-weight: 600;
    }
}

.link {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #99e2ff;
        text-decoration: underline;
    }
}