@use 'main-constants' as const;

:root{
    --main-font-family-open-sans: #{const.$main-font-family-open-sans};
    --main-font-family-open-oswald: #{const.$main-font-family-open-oswald};
    --main-font-family-open-roboto: #{const.$main-font-family-open-roboto};
    --main-font-family-open-montserrat: #{const.$main-font-family-open-montserrat};
}