$main-font-family-open-sans: "Open Sans", sans-serif;
$main-font-family-open-oswald: "Oswald", Arial, sans-serif;
$main-font-family-open-roboto: "Roboto", sans-serif;
$main-font-family-open-montserrat: "Montserrat", sans-serif;
$main-white-color: #eff1f5;