$mobile-navbar-background: rgba(221, 219, 218, 0.884);
$nav-wrapper-justify-content: space-between;
$icon-navbar-width: 176px;
// mobile values
$nav-wrapper-justify-content-mobile: center;
$icon-navbar-width-mobile: 258px;