@use 'mobile-constants' as const;
@use '../utils/' as *;

:root {
    --mobile-navbar-background: #{const.$mobile-navbar-background};
    --nav-wrapper-justify-content: #{const.$nav-wrapper-justify-content};
    --icon-navbar-width: #{const.$icon-navbar-width};
}

@include mobile {
    :root {
        --nav-wrapper-justify-content: #{const.$nav-wrapper-justify-content-mobile};
        --icon-navbar-width: #{const.$icon-navbar-width-mobile};
    }
}