$mobile-navbar-background: rgba(221, 219, 218, 0.884);
$nav-wrapper-justify-content: space-between;
$icon-navbar-width: 176px;
// hero style
$hero-content-margin-top: 0;
$hero-content-padding: 2rem;
// web develop style
$web-develop-subheader-font-size: 1.7rem;
$web-develop-p-font-size: 1.3rem;
// e-commerce style
$sub-content-padding-left: 8ex;
$sub-content-padding-right: 8ex;
// mobile values
$sub-content-padding-left-mobile: 1ex;
$sub-content-padding-right-mobile: 1ex;
$web-develop-subheader-font-size-mobile: 1.3rem;
$web-develop-p-font-size-mobile: 1rem;
$nav-wrapper-justify-content-mobile: center;
$icon-navbar-width-mobile: 258px;
$hero-content-margin-top-mobile: 6ex;
$hero-content-padding-mobile: 0;