$mobile-navbar-background: rgba(221, 219, 218, 0.884);
$nav-wrapper-justify-content: space-between;
$icon-navbar-width: 176px;
// hero style
$hero-content-margin-top: 0;
$hero-content-padding: 2rem;
// mobile values
$nav-wrapper-justify-content-mobile: center;
$icon-navbar-width-mobile: 258px;
$hero-content-margin-top-mobile: 6ex;
$hero-content-padding-mobile: 0;