@forward "/src/scss/base";
@forward "/src/scss/components";
@forward "/src/scss/mobile/";
@use "/src/scss/styles/" as *;
@use "/src/scss/utils/" as *;

.hero_section {
  @include background-section-style;
  background: var(--services-hero-background-image);
  font-family: var(--main-font-family-open-oswald);
}

.overlay {
  @include overlay-style;
}

.hero_container {
  @include container-style;
}

.hero_wrapper {
  @include wrapper-style;
}

.hero_content {
  margin-top: var(--hero-content-margin-top);
  color: #fff;
  position: relative;
  z-index: 2;
  padding: var(--hero-content-padding);

  .hero_header {
    text-align: center;

    h2 {
      @include h2-header-content-style;
      @include mobile {
        font-size: 1.6rem;
      }
      @include tablet {
        font-size: 1.6rem;
      }
    }
  }

  .hero_text {
    display: flex;
    justify-content: center;
    text-align: start;
    padding: 1ex;

    p {
      @include p-text-content-style;
      @include mobile {
        font-size: 1.6ex;
      }
      @include tablet {
        font-size: 1.2rem;
      }
    }
  }
}
