@use 'index-constants' as const;
@use '../base/main-constants' as main_const;
@use '../utils/' as *;

:root {
    --tech-background-background-image: #{const.$tech-background-background-image};
    --service-background-color: #{const.$service-background-color};
    --overlay-background: #{const.$overlay-background};
    --service-font-family: #{main_const.$main-font-family-open-roboto};
    --service-text-shadow: #{const.$service-text-shadow};
    --tech-font-family: #{main_const.$main-font-family-open-montserrat};
    --tech-section-background-color: #{main_const.$main-white-color};
    --green-gradient-background: #{const.$green-gradient-background};
    --drop-shadow-filter: #{const.$drop-shadow-filter};
    --hero-overlay-background: #{const.$hero-overlay-background};
    --hero-background-image: #{const.$hero-background-image};
    --hero-h1-font-size: #{const.$hero-h1-font-size};
    --hero-p-font-size: #{const.$hero-p-font-size};
    --hero-button-font-size: #{const.$hero-button-font-size};
    --hero-height: #{const.$hero-height};
    --service-description-font-size: #{const.$service-description-font-size};
    --tech-grid-grid-template-columns: #{const.$tech-grid-grid-template-columns};
}

@include mobile {
    :root {
        --tech-grid-grid-template-columns: #{const.$tech-grid-grid-template-columns-mobile};
        --service-description-font-size: #{const.$service-description-font-size-mobile};
        --hero-h1-font-size: #{const.$hero-h1-font-size-mobile};        
        --hero-p-font-size: #{const.$hero-p-font-size-mobile};
        --hero-button-font-size: #{const.$hero-button-font-size-mobile};
        --hero-height: #{const.$hero-height-mobile};
    }
}