$tech-background-background-image: url('/index/content/code-tech.jpg');        
$service-background-color: rgba(28, 37, 53, 0.37);
$overlay-background: #dfd9d725;
$service-text-shadow: 0 3px 22px rgba(0, 0, 0, 0.863);
$green-gradient-background: linear-gradient(180deg, rgba(9, 91, 41, 1) 0%, rgba(17, 147, 70, 1) 100%);
$drop-shadow-filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.30)) drop-shadow(0 3px 5px rgba(0, 0, 0, 0.20));
$hero-overlay-background: linear-gradient(0deg, rgba(4, 20, 47, 0.62) 0%, rgba(4, 20, 47, 1) 100%);
$hero-background-image: url('/index/hero/hero-index.jpg');