$tech-background-background-image: url('/index/content/code-tech.jpg');        
$service-background-color: rgba(28, 37, 53, 0.37);
$overlay-background: #dfd9d725;
$service-text-shadow: 0 3px 22px rgba(0, 0, 0, 0.863);