@forward 'index-root-values';
@forward '../base/main-root-values';
@use '../styles/' as *;
@use '../utils/' as *;

.info_container {
    @include index-container-style;
}

.info_content {
    @include index-content-style;
    margin-bottom: 12ex;
    font-family: var(--main-font-family-open-roboto);
}

.header {
    @include header-services;
    @include mobile {
        font-size: 1.4ex;
    }

    p {
        font-size: 1.72em;
        font-weight: 450
    }
}

.info_grid_3 {
    @include info_grid(3, 1fr);
    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.info_grid_2 {
    @include info_grid(2, 1fr);
    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.item {
    width: 100%;
    max-width: 380px;
    padding: 1.5rem;
    text-align: center;

    span {
        font-size: 1.77em;
    }

    h3 {
        font-size: 2.5ex;
    }

    p {
        font-size: 2.3ex;
    }
}

.see_more_button {
    display: flex;
    justify-content: center;

    @include button-style(#0a7995, #fff, 1.4rem, 600, 230px, #D9762B, #fff);
}