@forward 'index-root-values';
@use '../styles/index' as *;

.tech_background {
    position: relative;
    background-image: var(--tech-background-background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-attachment: fixed;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(6px);
        background: var(--service-background-color);
        z-index: 0;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: var(--overlay-background);
    z-index: 1;
}

.container {
    @include index-container-style;
}

.content {
    @include index-content-style;
}

.content_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
    align-items: center;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .text {
        font-family: var(--service-font-family);
        color: #fff;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 380;
        max-width: 680px;
        margin: 0 auto;
        text-shadow: var(--service-text-shadow);
    }
    
    .code_img {
        display: flex;
        justify-content: center;
    
        img {
            border-radius: 30px;
            width: 100%;
            max-width: 350px;
            height: auto;
            object-fit: cover;
            opacity: 0.8;
        }
    }
}