@forward 'index-root-values';
@use '../styles/' as *;

.tech_background {
    @include background-section-style;
    background-image: var(--tech-background-background-image);
    padding: 8rem 0;
    overflow: hidden;
    background-attachment: fixed;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(5px);
        background: var(--service-background-color);
        z-index: 0;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: var(--overlay-background);
    z-index: 1;
}

.container {
    @include index-container-style;
}

.content {
    @include index-content-style;
}

.content_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2ex;

    @media (max-width: 992px) {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .text {
        font-family: var(--service-font-family);
        color: #fff;
        font-size: var(--service-description-font-size);
        line-height: 1.5;
        font-weight: 480;
        max-width: 1030px;
        margin: 0 auto;
        text-shadow: var(--service-text-shadow);
    }
}