@forward 'index-root-values';
@forward '../base/';
@use '../styles/index' as *;

.container {
    @include index-container-style;
}

.content {
    @include index-content-style;
}

.tech_section {
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    font-family: var(--tech-font-family);
    background-color: var(--tech-section-background-color);
}

.tech_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 3rem;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 10ex;
    margin-top: 10ex;
    @include index-max-width;
}

.icon_text {
    text-align: center;

    h3 {
        font-size: 1.23em;
        font-weight: 500;
    }

    span {
        font-size: 4.1em;
    }

}

.icon_display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 1rem;

    img {
        width: auto;
        height: 80px;
        object-fit: contain;
        display: block;
        filter: var(--drop-shadow-filter);
    }
}

@media (max-width: 768px) {
    .tech_grid {
        grid-template-columns: 1fr;
    }
}

.green_background {
    background: #095B29;
    background: var(--green-gradient-background);
    color: var(--main-white-color);
}

.header_tech {
    @include header-services;
}

.tech_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4ex 14ex 4ex;
}

.header_text {
    @include index-max-width;
    text-align: start;
    font-size: 1.4em;
    font-weight: 500;

    .sub_header {
        font-size: 1.3em;
        font-weight: 500;
        margin: 0;
    }

    .code_languajes {
        font-size: 1.25em;
        font-weight: 600;
        text-transform: uppercase;
    }
}