@forward "/src/scss/base";
@forward "/src/scss/components/design-services/";
@forward "/src/scss/components/design-services/main-hero-services/";
@use "/src/scss/utils/" as *;
@forward "/src/scss/mobile/";

.sub_header {
  margin-top: 9.8ex;
  margin-bottom: 8ex;
  h2 {
    text-align: center;
    margin: 0;
    font-size: var(--web-develop-subheader-font-size);
    font-weight: 700;
  }
  p {
    font-size: var(--web-develop-p-font-size);
  }
}

.web_develop_phrase_container {
  margin-top: 9ex;
  margin-bottom: 6ex;
  padding-left: 2ex;
  padding-right: 2ex;
  font-family: var(--main-font-family-open-roboto);
  @include mobile {
    padding: 0;
  }
}

.web_develop_note {
  text-align: center;
  padding: 1ex;

  .note_title {
    h3 {
      font-style: italic;
      font-size: 1.5rem;
      font-weight: 350;
    }
  }

  .see_example {
    display: flex;
    @include mobile {
      display: none;
    }
    justify-content: center;
    position: relative;
  z-index: 9999;
    .example_link {
      font-size: 2.5ex;
    }
  }
}

.phrases_list_grid {
  padding: 2ex;
  margin-bottom: 4ex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3ex;
  justify-items: center;
  text-align: center;
  @include mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  p {
    font-size: 2ex;
  }

  span {
    font-size: 4ex;
  }
}
